/* ~~~~~~~~~~~~~~~~~ css/styles.css of w3cx-3of5 making w3cx-3of5.bauska.org ~~~~~~~~~~~~~~~~~~ */
img.displayed {
  display: block;
  margin: 0 auto; 
}
.border {
  border-width: 1px;
  border-color: #778899;  /* dark grayish blue */
  border-style: solid; 
}

ol,ul li { 
  font-size: 14.5px;
  padding: 14.5px;
  line-height: 110%;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVue Sans Mono";
}
p { 
  font-size: 14.5px;  /* was 13.5 */
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  text-align: left; 
  margin-left: 15px;  /* was 10px; */
}
pre {
  margin: 0;
  font: 1rem/1.5 'Roboto Mono', monospace;
}
code {
  -webkit-user-select: all;
  user-select: all;
  display: block;
  padding: 20px;
  border: 2px dashed #c9baa7;
  color: #31808c;
  background-color: #f5f4ef;
  text-align: left;
  font-family: inherit;
  overflow: auto;
}
pre > code {
  display: block;
  margin-left: 15px;  /* 10px */
  padding: 1rem;
  word-wrap: normal;
}
pre {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  background-color: #eee;
  overflow: auto;
  margin: 0 0 0 3em;  /* 0 0 1em */
  padding: .5em 1em;
  white-space: pre-wrap;
  overflow-x: auto;
  /* Calculates the minimum content width and then adds 2 pixels */
  width: calc-size(min-content, size + 2px);
}
pre code,
pre .line-number {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  color: black;
  display: block;
}
pre .line-number {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
  color: red;
}
pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
}
pre .cl {
  display: block;
  clear: both;
}
pre {
  overflow: auto;
}
pre[href]: hover  {
  text-decoration: none;
}
pre:hover, pre:focus { 
  width: min-content; 
}

a:link {
  color: #3333ff;  /* vivid blue, was; #013220 very dark green */
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #a5682a;  /* #a5682a brown */
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #006700;  /* very dark lime green */
  background-color: #ffff00;  /* yellow */
  text-decoration: underline;
}
a[href]:hover {
  text-decoration: underline; 
  text-decoration-color: #0000ff;  /* blue */
}

div {
  float: left; }

h1 { 
  font-size: 21px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas;
  text-align: center;
}
h2 { 
  font-size: 18px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; 
  margin-left: 15px;
}
h3 { 
  font-size: 17px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; 
  margin-left: 15px;  
}
h4 { 
  font-size: 16px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; 
  margin-left: 15px;
}
h5 { 
  font-size: 15px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas; 
  margin-left: 15px;
}
h6 { 
  font-size: 12px;
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  margin-left: 15px;
}

details {
  font: 14px Bahnschrift, Inter, sans-serif, Calibri;
  width: 65%;
}
details > summary {
  width: 12em;
  padding: 2px 6px;
  background-color: #eee;  /* very light gray */
  border: none;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue */
  cursor: pointer;
  margin-left: 15px;
}
details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fff;  /* white */
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue*/
}
details[open] > summary {
  background-color: #ffff00;  /* pure (or mostly pure) yellow */
}

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 13.5px;  /* 1.2rem; */
  background-color: #eee;  /* very light gray */
  color: #000000;  /* black */
  text-align: left;
  padding: 10px;
  margin: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #8b0000;  /* dark red */
  color: #fdfeff;  /* very pale (mostly white) blue */
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}
#myBtn:hover {
  background-color: #555;  /* very dark gray */
}

th, td {
  border: 1px solid #000;  /* black */
}
table {
  border-collapse: collapse;
  margin-left: 15px;
  border: 1px solid #000;  /* black */
}
pre {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  background-color: #eee;  /* very light gray */
  overflow: auto;
  margin: 0 0 1em;
  padding: .5em 1em;
  white-space: pre-wrap;
  overflow-x: auto;
}
pre > code {
  display: block;
  margin-left: 15px;  /* 10px */
  padding: 1rem;
  word-wrap: normal;
}
pre code,
pre .line-number {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  color: #000;  /* black */
  display: block;
}
pre .line-number {
  font: normal normal 10px/12px consolas,Courier,Monospace;
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
  color: #ff0000;  /* pure (or mostly pure) red */
}
pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
}
pre .cl {
  display: block;
  clear: both;
}
pre {
  width: 400px;
  overflow: auto;
}
pre[href]:hover  {
  text-decoration: none;
}
pre:hover, pre:focus {
  width: 400px;  /* was: 50%, fit-content; before that; width: min-content */
}

@media all and (max-width: 500px) {
  img.frame { 
    border-width: 0px;
    width: 100%; }
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
  div.example {
    font-size: 50px;
    padding: 50px;
    border: 8px solid #000;  /* black */
    background: #ffff00;  /* yellow */
  }
}
